@model WebApplication3.Models.Musteri

@{
    ViewData["Title"] = "Müşteri Sil";
}

<h1>Müşteri Sil</h1>

<h4>Müşteri</h4>
<hr />
<div>
    <h4>@Model.Adi @Model.Soyadi</h4>
    <dl class="row">
        <dt class="col-sm-2">
            Adi
        </dt>
        <dd class="col-sm-10">
            @Model.Adi
        </dd>
        <dt class="col-sm-2">
            Soyadi
        </dt>
        <dd class="col-sm-10">
            @Model.Soyadi
        </dd>
        <dt class="col-sm-2">
            Adresi
        </dt>
        <dd class="col-sm-10">
            @Model.Adresi
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Geri Dön</a>
    </form>
</div>

